.Input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box
}

.Label {
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
}

.InputElement {
    outline: none;
    border: 1px solid #ccc;
    background: white;
    font: inherit;
    padding: 6px 10px;
    display: block;
    width: 100%;
    box-sizing: border-box
}

.InputElement:focus {
    outline: none;
    border-color: #7e6806;
    border-style: solid;
    border-width: 0 0 3px 0;
    background-color: rgb(236, 236, 236)
}